// Блок записи
a(href="/kitchens/exampleKitchen.html").catalog_elem(data-shape="angle" data-size="middle" data-color="rainbow" data-style="traditional" data-location="home" data-material="wood")
		.wrap_img
			img(src="images/catalog_elem.jpg")
		.model
			.icon
			h4="Модель «Классика массив»"
		.array
			.icon
			h4="Массив дуба/ясеня"
		.price
			.icon
			h4="Стоимость от 80 000"
// Конец записи

.catalog_elem(data-shape="linear" data-size="middle" data-color="rainbow" data-style="traditional" data-location="bower" data-material="wood")
	.wrap_img
		img(src="images/catalog_elem.jpg")
	.model
		.icon
		h4="Модель  «Классика массив»"
	.array
		.icon
		h4="Массив дуба/ясеня"
	.price
		.icon
		h4="Стоимость от 80 000"

.catalog_elem(data-shape="angle" data-size="little" data-color="rainbow" data-style="modern" data-location="home" data-material="plastic")
	.wrap_img
		img(src="images/catalog_elem.jpg")
	.model
		.icon
		h4="Модель  «Классика массив»"
	.array
		.icon
		h4="Массив дуба/ясеня"
	.price
		.icon
		h4="Стоимость от 80 000"

.catalog_elem(data-shape="linear" data-size="big" data-color="white" data-style="traditional" data-location="bower" data-material="glass")
	.wrap_img
		img(src="images/catalog_elem.jpg")
	.model
		.icon
		h4="Модель  «Классика массив»"
	.array
		.icon
		h4="Массив дуба/ясеня"
	.price
		.icon
		h4="Стоимость от 80 000"

.catalog_elem(data-shape="angle" data-size="big" data-color="black" data-style="modern" data-location="home" data-material="wood")
	.wrap_img
		img(src="images/catalog_elem.jpg")
	.model
		.icon
		h4="Модель  «Классика массив»"
	.array
		.icon
		h4="Массив дуба/ясеня"
	.price
		.icon
		h4="Стоимость от 80 000"

.catalog_elem(data-shape="linear" data-size="middle" data-color="rainbow" data-style="traditional" data-location="home" data-material="metal")
	.wrap_img
		img(src="images/catalog_elem.jpg")
	.model
		.icon
		h4="Модель  «Классика массив»"
	.array
		.icon
		h4="Массив дуба/ясеня"
	.price
		.icon
		h4="Стоимость от 80 000"

.catalog_elem(data-shape="angle" data-size="middle" data-color="rainbow" data-style="modern" data-location="bower" data-material="wood")
	.wrap_img
		img(src="images/catalog_elem.jpg")
	.model
		.icon
		h4="Модель «Классика массив»"
	.array
		.icon
		h4="Массив дуба/ясеня"
	.price
		.icon
		h4="Стоимость от 80 000"
