footer.footer
	header
		.social
			.facebook.social_icon
			.instagram.social_icon
			.vkontakte.social_icon
	footer
		.design
			a(href="/design.html")
				h3="Дизайнерам"
			.tag="#сделановdecoroom"
		.contact
			.tel!="<b>тел.: </b> +7 (123) 456 - 78 - 91"
			.mail!="<b>почта: </b>  hi@decoroom24.ru"
			.adress!="<b>адрес:</b> г. Набережные Челны, Фабричный проезд дом 17"

script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/flexslider/jquery.flexslider-min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
script(src="/common.js")
