section.slider
  .container
    .flexslider
      ul.slides
        li.slider_elem
          .info
            h3="1248 кухонных гарнитуров было создано нами в прошлом году"
            p="Заказала кухню в компании “DECOROOM” в конце октябре 2015. Кухня пришла даже раньше, чем было прописано в договоре и стояла уже в декабре. Установили все быстро и качество фабричное. В общем я довольна. Просто супер!!! Юля, г. Нижнекамск"
            .wrap_img
              img(src="images/review.jpg")
        li.slider_elem
          .info
            h3="1248 кухонных гарнитуров было создано нами в прошлом году"
            p="Заказала кухню в компании “DECOROOM” в конце октябре 2015. Кухня пришла даже раньше, чем было прописано в договоре и стояла уже в декабре. Установили все быстро и качество фабричное. В общем я довольна. Просто супер!!! Юля, г. Нижнекамск"
            .wrap_img
              img(src="images/review.jpg")
        li.slider_elem
          .info
            h3="1248 кухонных гарнитуров было создано нами в прошлом году"
            p="Заказала кухню в компании “DECOROOM” в конце октябре 2015. Кухня пришла даже раньше, чем было прописано в договоре и стояла уже в декабре. Установили все быстро и качество фабричное. В общем я довольна. Просто супер!!! Юля, г. Нижнекамск"
            .wrap_img
              img(src="images/review.jpg")
